@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: "Roboto", serif;
}
h1,h2,h3,h4,h5,h6{
    font-family: "Josefin Sans", serif;
}
nav li a:focus{
    background-color: transparent !important;
    color: white !important;
}
nav li a.active{
    background-color: #721ac5  !important;
    color: white !important;
    border-radius: 5px !important;
}
.sticky-navbar-nav{
    padding:  0 !important;
}
